.searchRoot .page {
  position: relative;
  left: -12px; /* account for list scrollbar */
  padding-top: 10px;
}

#PokemonSearch {
  border: 0 none;
  background: var(--clr-1-dark);
  height: 48px;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  font-family: "VT323";
  font-size: 24pt;
  border-radius: 8px;
  color: var(--clr-fg)
}

#PokemonSearch::placeholder {
  color: #b18a93;
}
